<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %></p>


<div class='well'>
  <h4>Dealer's cards:</h4>

    <% if session[:dealer_active] %>
      <% session[:dealer_cards].each do |card| %>
        <%= display_card(card) %>
      <% end %>
    <% else %>
      <%= display_card(session[:dealer_cards][0], true) %>
      <%= display_card(session[:dealer_cards][1]) %>
    <% end %>
</div>

</br>

<p>Dealer's Total: <%= session[:dealer_active] ? calculate_hand(session[:dealer_cards]) : calculate_hand([session[:dealer_cards][1]]) %></p>

</br>

<div class='well'>
  <h4><%= session[:player_name] %>'s Cards:<h4>
    <% session[:player_cards].each do |card| %>
      <%= display_card(card) %>
    <% end %>
</div>


</br>

<p><%= session[:player_name] %> 's Total: <%= calculate_hand(session[:player_cards]) %></p>

</br>

<% if !session[:player_turn_over] %>
  <p>Would you like to hit or stay?</p>

  <form action='/game' method='post'>
    <input class='btn btn-info' type='submit' value='Hit' name='hit'/>
    <input class='btn btn-warning' type='submit' value='Stay' name='stay'/> 
  </form>
<% end %>

<% if session[:player_turn_over] && !session[:hand_done]%>
  <form action="/game" method='post'>
    <input class='btn btn-primary' type='submit' value='Continue With Dealer Turn' name='dealer'/>
  </form>
<% end %>

</br>

<% if session[:hand_done] %>
  <h4>Play another Hand?</h4>

  <form action='/game' method ='get'>
    <input class='btn btn-success' type='submit' value='Next Hand'>
  </form>

<% end %>