<h4>
  The hand is over let's see the outcome...
</h4>

<h5>
  Your hand: <%= calculate_hand_value(session[:player_cards]) %>
</h5>

<h5>
  Dealer Hand: <%= calculate_hand_value(session[:dealer_cards]) %>
</h5>

<h5>
  <% if bust?(calculate_hand_value(session[:player_cards])) %>
    <%= "Sorry you busted Dealer wins." %>
  <% elsif bust?(calculate_hand_value(session[:dealer_cards])) %>
    <%= "Dealer busts. You win #{session[:current_bet]} chips!" %>
    <% session[:chip_count] += (2 * session[:current_bet]) %>
  <% elsif calculate_hand_value(session[:player_cards]) > calculate_hand_value(session[:dealer_cards]) %>
    <%= "You have the higher hand. You win #{session[:current_bet]} chips!" %>
    <% session[:chip_count] += (2 * session[:current_bet]) %>
  <% elsif calculate_hand_value(session[:player_cards]) < calculate_hand_value(session[:dealer_cards]) %>
    <%= "Sorry the dealer has the higher hand." %>
  <% else %>
    <%= "Hands are equal. This rounds a push!" %>
    <% session[:chip_count] += session[:current_bet] %>
  <% end %>
</h5>

   
<h5>
  You now have <%= session[:chip_count] %> chips. 
</h5>

<h5>
  Next hand?
</h5>

<form action='/bet' method='get'>
  <input class='btn' type='submit' value='Next Hand'> 
</form>  
   
    



